/* 
List of fonts and their availability:;
http://www.cssfontstack.com/
*/


* {
    box-sizing: border-box;
}
html {
  font-family: "Century Gothic", Helvetica, Arial, sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
    margin: 0;
    background-color: #FFFFFF;
}

#header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0px 15px 0px;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFFFFF;
    border-bottom: 1px solid grey;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.menuheadentry {
    display: inline;
    font-size: 18px;
}
.menuentry {
    display: inline;
    font-size: 15px;
    font-weight: normal;
}
.leftspaced {
    padding-left: 45px;
}

#main {
    display: block;
    max-width: 75%;
    padding-top: 65px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.imgfloatright {
    float: right;
    margin: 0 0 1em 1em;
    width: 80%;
}

.imgfloatleft {
    float: left;
    margin: 0 1em 1em 0;
    width: 80%;
}

.imgnofloat {
    margin: 1em 0 1em 0;
}

a:link {
    color: black;
    text-decoration: none;
}
a.blacklink:visited {
    color: #000000;
}
